<div class="container" style="padding-top:100px;">
<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <form (ngSubmit)="createTask(newTask)" #taskForm="ngForm">
      <div class="form-group">
        <input type="text" class="form-control" id="task" [(ngModel)]="newTask" name="newTask" required>
      </div>

      <button type="submit" class="btn btn-primary text">Submit</button>
      <button type="button" *ngIf="tasks" (click)="deleteAllTask(tasks)" class="btn btn-danger">Tous effacer</button>


    </form>
  </div>
</div>

</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="list-group" *ngIf="tasks">
        <li class="list-group-item" *ngFor="let task of tasks;">
          <input type="checkbox"  class="checkbox" [(ngModel)]="task.completed" />
          <span [ngClass]="{'checked': task.completed}">{{ task.newTask }}</span>
          <span (click)="deleteTask(task)" style="cursor:pointer">[x]</span>
</li>
</ul>
</div>
</div>
</div>